body {
background:#0d1117;
color:white;
font-family: Arial;
margin:0;
padding:0;
}

header {
text-align:center;
padding:40px;
background:#161b22;
}

section {
padding:40px;
max-width:800px;
margin:auto;
}

.project {
background:#161b22;
padding:20px;
margin:20px 0;
border-radius:10px;
}
button {
padding:10px;
background:#00ffcc;
border:none;
border-radius:6px;
cursor:pointer;
}
a {color:#00ffcc;}

h3 {
color:#00ffcc;
margin-top:30px;
}

